<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <title>HTML5 Contact Form</title><link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<form class="contact_form" action="#" method="post" name="contact_form">
    <ul>
        <li>
            <h2>Тіркелу</h2>
            <span class="required_notification"></span>
        </li>
        <li>
            <label for="name">Толық аты-жөні</label>
            <input style="background-color: #9fcdff" type="text" id="name"  placeholder="Есімі" required />
        </li>
        <li>
            <label for="email">Почта</label>
            <input type="email" id="email"  name="email" placeholder="Пошта@gmail.com" required />
            <span class="form_hint">"@gmail.com" түрінде болуы тиіс</span>
        </li>

        <li>
            <label for="message">Сіздің хабарламаңыз</label>
            <textarea id="message" name="message" cols="40" rows="6" required ></textarea>
        </li>
        <li>
            <button style="background-color: black; color: white"  class="submit" type="submit">орындау</button>
        </li>
    </ul>
</form>
</body>
</html>
